
.members {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
}

.title {
  padding: 5rem;
}

.member-card {
  display: inline-block;
  max-width: 30rem;
  text-align: center;
  margin-bottom: 5rem;
}

.member-card__image {
  max-width: 50%;
}

